<% content_for :title, "首页" %>
<div class="titleCenter">
  <div class="titleText">
    <div class="titleContent">2019年热门院校</div>
  </div>
</div>

<div class="primaryContent">
  <div class="newLine">
    <div class="newBody">
      <div class="newContent">
        <div class="panelContent">
          <div class="titleContainer">
            <%= link_to image_tag("primary.jpg", width: '100%'), mechanic_path %>
          </div>
        <div class="titlePanel">
          <div class="titleTitle">
            成都圣亚技工学校
          </div>
          <div class="titleTitle">
            2019年招生须知 ...
          </div>
        </div>
      </div>
      <div class="panelContent">
        <div class="titleContainer">
          <%= link_to image_tag('timg.jpg', width: '100%'), about_path %>
        </div>
        <div class="titlePanel">
          <div class="titleTitle">
            成都城市职业学院
          </div>
          <div class="titleTitle">
            2019年招生须知 ...
          </div>
        </div>
      </div>
      <div class="panelContent">
        <div class="titleContainer">
          <%= link_to image_tag('timg.jpg', width: '100%'), about_path %>
        </div>
        <div class="titlePanel">
          <div class="titleTitle">
            成都城市职业学院
          </div>
          <div class="titleTitle">
            2019年招生须知 ...
          </div>
        </div>
      </div>
      <div class="panelContent">
        <div class="titleContainer">
          <%= link_to image_tag('timg.jpg', width: '100%'), about_path %>
        </div>
        <div class="titlePanel">
          <div class="titleTitle">
            达州职业学院
          </div>
          <div class="titleTitle">
            2019年招生须知 ...
          </div>
        </div>
      </div>
      <div class="panelContent">
        <div class="titleContainer">
          <%= link_to image_tag('timg.jpg', width: '100%'), about_path %>
        </div>
        <div class="titlePanel">
          <div class="titleTitle">
            雅安职业学院
          </div>
          <div class="titleTitle">
            2019年招生须知 ...
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="hotContainer">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="hotTitle">
          热门专业
        </div>
      </div>
      <div class="panel-body cat">
        <div class="hotContent">
          <div class="col-xs-6">
            <%= link_to image_tag('timg.jpg', width: '100%'), about_path %>
            <p class="hotProfession">航空地勤</p>
          </div>
          <div class="col-xs-6">
            <%= link_to image_tag('timg.jpg', width: '100%'), about_path %>
            <p class="hotProfession">航空乘务</p>
          </div>
        </div>
        <div class="hotContent">
          <div class="col-xs-6">
            <%= link_to image_tag('timg.jpg', width: '100%'), about_path %>
            <p class="hotProfession">轨道运输</p>
          </div>
          <div class="col-xs-6">
            <%= link_to image_tag('timg.jpg', width: '100%'), about_path %>
            <p class="hotProfession">学前教育</p>
          </div>
        </div>
        <div class="hotContent">
          <div class="col-xs-6">
            <%= link_to image_tag('timg.jpg', width: '100%'), about_path %>
            <p class="hotProfession">计算机网络</p>
          </div>
          <div class="col-xs-6">
            <%= link_to image_tag('timg.jpg', width: '100%'), about_path %>
            <p class="hotProfession">经济管理</p>
          </div>
        </div>
        <div class="hotContent">
          <div class="col-xs-6">
            <%= link_to image_tag('timg.jpg', width: '100%'), about_path %>
            <p class="hotProfession">汽车维修</p>
          </div>
          <div class="col-xs-6">
            <%= link_to image_tag('timg.jpg', width: '100%'), about_path %>
            <p class="hotProfession">电子商务</p>
          </div>
        </div>
        <div class="hotContent">
          <div class="col-xs-6">
            <%= link_to image_tag('timg.jpg', width: '100%'), about_path %>
            <p class="hotProfession">飞行员</p>
          </div>
          <div class="col-xs-6">
            <%= link_to image_tag('timg.jpg', width: '100%'), about_path %>
            <p class="hotProfession">中式烹饪</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="panel-body">
    <div class="contact">
      <div id="mobile"><i class="fa fa-mobile"></i></div>
      <div id="phone-number">联系方式</div>
    </div>
    <div class="chat">
      <div id="wechat" data-toggle="modal" data-target="#myWechat"><i class="fa fa-wechat"></i></div>
      <div id="add-wechat">添加微信</div>
    </div>
    <div class="qq">
      <div id="qqImage"><i class="fa fa-qq"></i></div>
      <div id="qq-number">
        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1305851004&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=1:1305851004:10" alt="点击这里给我发消息" title="点击这里给我发消息"/></a>
    </div>
  </div>
</div>

<%= render 'wechat' %>

<script type="text/javascript">
  $(".panelContent").click(function(){
    window.location.href =  $(this).find("a").attr("href");
  });

  $('#mobile').click(function(){
    alert("手机号: 15102895020");
  });
</script>