<%= content_for :title, '圣亚技工学校' %>
<div class="mechanicMain">
  <div class="mechanicContainer">
    <div class="row">
      <div class="panel panel-default sy">
        <div class="panel-heading">
          <h2>成都圣亚技工学校</h2>
        </div>
      <div class="pane-body">
        <div class="cat">
          <%= link_to image_tag('sy/sy1.jpg', width: '100%')%>
          <%= link_to image_tag('sy/xx.jpg', width: '100%')%>
        </div>
        <div class="jj">
          <li><strong>位置优越,交通方便:</strong>
            学校地处"天府之国"川西腹地,毗邻成都北三环,地铁三号线钟楼站
            成绵高速出口，新都城区。周边有著名的佛教圣地宝光寺，庵升湖，
            保利公园，学生生活便利。</br>
          </li>
          <li><strong>环境幽雅，条件良好:</strong>
            校园有标准的塑胶足球场；学生公寓配备独立卫生间，空调，淋浴，
            网络，直饮系统，储存柜，公共洗衣机等。
          </li>
          <li><strong>办学理念先进，模式新颖:</strong>
            学校首创“入校即入企，入学即如岗“办学理念，完全按企业岗位工作标准及流程培养，
            实现学校与企业无缝对接，实现高素质教育+技能教育+学历教育+带薪实习+(100%)
            就业保障服务
          </li>
        </div>
        <%= image_tag('sy/jx.jpg', width: '100%') %>
      </div>
    </div>

    <div class="panel panel-default">
      <%= image_tag('sy/tl.jpg', width: '100%') %>
      <div class="panel-heading">
        <h4 style="margin-left:20%">医护类(护理专业)</h4>
      </div>
      <div class="panel-body">
        <%= image_tag('sy/huli', width: '100%') %>
          <p>
            <strong>专业概述:</strong>：主要学习相关的人文社会科学知识和医学基础、预防保健的基本理论知识，
            受到护理学的基本理论、基本知识和临床护理技能的基本训练，具有对服务对象实施整体护理及社区健康服务的基本能力。</br>
          </p>
          <p>
            <strong>主要课程:</strong>英 语、计算机、人体解剖学、生理学、生物化学、病原微生物及免疫学基础、
            病理学、药理学、预防医学、护理伦理学、护理心理学、健康评估、基础护理学、护理管 
            理学、内科护理学、外科护理学、妇产科护理学、儿科护理学、五官科护理学、精神病护理学、
            传染病护理学、皮肤病护理学、社区护理学、急救护理、老年护理， 护理管理学，营养与膳食指导等30余门课程。</br>
          </p>
          <p>
            <strong>工作领域:</strong>面向各级各类医院、疗养院、社区医院、企事业单位医务室等部门，从事护理、保健工作
          </p>
          <h4>合作单位</h4>
          <div class="col-xs-6">
            <%= image_tag('sy/health.jpg', width: '100%') %>
          </div>
          <div class="col-xs-6">
            <%= image_tag('sy/heal1.jpg', width: '100%') %>
          </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= image_tag('sy/tl.jpg', width: '100%') %>
        <h4 style="margin-left: 29%">铁路运输</h4>
      </div>
      <div class="panel-body">
        <%= image_tag('sy/tlys.jpg', width: '100%') %>
          <p>
            <strong>培养目标:</strong>
            本专业培养具有铁路客运、铁路与地方餐旅服务知识与技能的应用型高等专业人才。</br>
          </p>
          <p>
            <strong>主要课程:</strong>
            铁路客运规章、铁路安全常识、服务礼仪、服务心理学、旅游概论、餐厅服务、客房服务、康乐服务、服务语言艺术、形体训练等。
          </p>
        <h4>合作单位</h4>
        <div class="col-xs-6">
          <%= image_tag('sy/ct.jpg', width: '100%') %>
        </div>
        <div class="col-xs-6">
          <%= image_tag('sy/ct3.jpg', width: '100%') %>
        </div>
       
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <%= image_tag('sy/tl.jpg', width: '100%') %>
        <h4 style="margin-left:23%">汽车运用与服务</h4>
      </div>
      <div class="panel-body">
        <%= image_tag('sy/qj.jpg', width: '100%') %>
          <p>
            <strong>汽车维修与运用专业</strong>:就业前景在所有专业中排行第938位，并且在所有汽车维修与运用专业毕业的同学中经过智联招聘的数据分析得知，
            其月平均工资约5399元，最低工资约2666元，最高工资为32000元以上，其中21.4%的同学选择在广东发展。
          </p>
        <h4 style="margin-left:1%">部分就业单位</h4>
        <div class="col-xs-6">
          <%= image_tag('sy/qx.jpg', width: '100%') %>
        </div>
        <div class="col-xs-6">
          <%= image_tag('sy/qx1.jpg', width: '100%') %>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <%= image_tag('sy/tl.jpg', width: '100%') %>
        <h4 style="margin-left:28%">学前教育</h4>
      </div>
      <div class="panel-body">
        <%= image_tag('sy/xq.jpg', width: '100%') %>
        <h3 style="margin-left:3%">专业特色介绍</h3>
        <div class="xq" style="color:red;">中国幼师人才缺失高达400万，幼儿教育是21世纪的黄金产业</div>
        <div class="feature">
          <ol type="value">
            <li>学校创新引进"<strong>奥尔夫教学模式</strong>"和"<strong>蒙台梭利教学模式</strong>"教学</li>
            <li>在校内设有奥尔夫模拟幼儿园，蒙台梭利模拟幼儿园，完全按幼儿教育<strong>岗位标准培养</strong></li>
            <li>创新推行"<strong>2:3:5</strong>"教育模式，理论与实践相结合，体验一比一还原真实幼儿园日常工作</li>
          </ol>
        </div>
        <h4 style="margin-left:1%">合作单位</h4>
        <div class="col-xs-6">
          <%= image_tag('sy/zn.jpg', width: '100%') %>
        </div>
        <div class="col-xs-6">
          <%= image_tag('sy/mt.jpg', width: '100%') %>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <%= image_tag('sy/tl.jpg', width: '100%') %>
        <h4 style="margin-left:28%">计算机应用</h4>
      </div>
      <div class="panel-body">
        <%= image_tag('sy/cp.jpg', width: '100%') %>
        <h3 style="margin-left:3%">专业特色介绍</h3>
        <div class="computer">
          <ol type="value">
            <li>随着中国经济的高速发展，对计算机各领域人才需求一直是供应不求，特别是在<strong>商业环境艺术设计，
              商业广告设计，服装设计，工业产品设计，标志设计，企业CI设计，网页设计等行业有着大量人才需求。</strong></li>
            <li>学校与四川动漫研究中心等近20家企业<strong>签订制培养协议</strong>,为企业培养艺术设计与制作的高级专业人才</li>
            <li>该专业为<strong>白领行业</strong>，有着良好的工作环境，自由的工作空间，同时一名优秀设计师薪资水平很高</li>
          </ol>
        </div>
        <h4 style="margin-left:1%">合作单位</h4>
        <div class="col-xs-6">
          <%= image_tag('sy/cp1.jpg', width: '100%') %>
        </div>
        <div class="col-xs-6">
          <%= image_tag('sy/cp2.jpg', width: '100%') %>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <%= image_tag('sy/tl.jpg', width: '100%') %>
        <h4 style="margin-left:28%">中式烹饪专业</h4>
      </div>
      <div class="panel-body">
        <%= image_tag('sy/pr.jpg', width: '100%') %>
        <h3 style="margin-left:3%">专业特色介绍</h3>
        <div class="cookie">
          <ol type="value">
            <li><strong>VIP</strong>一对一情景教学模式，40年餐饮大师手把手教学，确保学生技能的掌握</li>
            <li>咖啡，调酒，茶艺等实训配套设备，全面提高学生的专业技能</li>
            <li>定制式pei培养模式，合作企业达30余家，学生入校即入企</li>
          </ol>
        </div>
        <h4 style="margin-left:1%">合作单位</h4>
        <div class="col-xs-6">
          <%= image_tag('sy/ck.jpg', width: '100%') %>
        </div>
        <div class="col-xs-6">
          <%= image_tag('sy/ck2.jpg', width: '100%') %>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <%= image_tag('sy/tl.jpg', width: '100%') %>
        <h4 style="margin-left:28%">航空服务</h4>
      </div>
      <div class="panel-body">
        <%= image_tag('sy/airline.jpg', width: '100%') %>
        <h3 style="margin-left:3%">专业特色介绍</h3>
        <div class="cookie">
          <ol type="value">
            <li><strong>岗位需求大</strong>: 到2020年中国至少新增40000多名航空服务人员岗位，
              整个航空业自身也将演变成一个多元化复式行业，急需具备高素质，全技能的复合型人才。
            </li>
            <li><strong>金领岗位，薪资水平高</strong>: 国内主流航空公司航空服务人员平均年薪10万人民币以上。</li>
            <li><strong>定制培养模式，专业岗位多</strong>: 可从事空中乘务，安检，VIP贵宾，票务，
              值机，航空护卫，候机楼检票，海乘服务，飞行员等工作。
            </li>
          </ol>
        </div>
        <h4 style="margin-left:1%">合作单位</h4>
        <div class="col-xs-6">
          <%= image_tag('sy/air.jpg', width: '100%') %>
        </div>
        <div class="col-xs-6">
          <%= image_tag('sy/air2.jpg', width: '100%') %>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <%= image_tag('sy/tl.jpg', width: '100%') %>
      </div>
      <div class="panel-body">
        <%= image_tag('sy/certi.jpg', width: '100%') %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <%= image_tag('sy/tl.jpg', width: '100%') %>
      </div>
      <div class="panel-body">
        <%= image_tag('sy/jy.jpg', width: '100%') %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <%= image_tag('sy/tl.jpg', width: '100%') %>
      </div>
      <div class="panel-body">
        <%= image_tag('sy/rxtj.jpg', width: '100%') %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <%= image_tag('sy/tl.jpg', width: '100%') %>
      </div>
      <div class="panel-body">
        <%= image_tag('sy/lc.jpg', width: '100%') %>
      </div>
    </div>
  </div>
</div>