<%= content_for :title, '成都圣亚技工学校' %>
<div class="mechanicMain">
  <div class="mechanicContainer">
    <div class="panel panel-default sy">
      <div class="panel-heading">
        <h2>成都圣亚技工学校</h2>
      </div>
      <div class="panel-body">
        <div class="cat">
          <%= link_to image_tag('sy/sy1.jpg', width: '100%')%>
          <%= link_to image_tag('sy/xx.jpg', width: '100%')%>
        </div>
        <div class="jj">
          <li><strong>位置优越,交通方便:</strong>
            学校地处"天府之国"川西腹地,毗邻成都北三环,地铁三号线钟楼站
            成绵高速出口，新都城区。周边有著名的佛教圣地宝光寺，庵升湖，
            保利公园，学生生活便利。</br>
          </li>
          <li><strong>环境幽雅，条件良好:</strong>
            校园有标准的塑胶足球场；学生公寓配备独立卫生间，空调，淋浴，
            网络，直饮系统，储存柜，公共洗衣机等。
          </li>
          <li><strong>办学理念先进，模式新颖:</strong>
            学校首创“入校即入企，入学即如岗“办学理念，完全按企业岗位工作标准及流程培养，
            实现学校与企业无缝对接，实现高素质教育+技能教育+学历教育+带薪实习+(100%)
            就业保障服务
          </li>
        </div>
        <%= image_tag('sy/jx.jpg', width: '100%') %>
        <div class="pymb">
          <h2>培养目标</h2>
          <li>为企业定制培养高素质实用型技术人才及高学历管理性人才</li>
          <div class="col-sm-6">
            <%= image_tag('sy/syx.jpg', width: '100%') %>
          </div>
          <div class="col-sm-6">
            <%= image_tag('sy/syx1.jpg', width: '100%') %>
          </div>
          <div class="col-sm-6">
            <%= image_tag('sy/syx3.jpg', width: '100%') %>
          </div>
        </div>
        <div class="see_more">
          <i class="fa fa-angle-double-down"></i>
          <span class="find">查看更多</span>
          <span class="second">收起</span>
        </div>
      </div>
    </div>

    <div class="more">
      <div class="panel panel-default">
        <%= image_tag('sy/tl.jpg', width: '100%') %>
        <div class="panel-heading">
          <h4 style="margin-left:20%">健康服务与管理(临床护理与服务)</h4>
        </div>
        <div class="panel-body">
          <%= image_tag('sy/huli', width: '100%') %>
          <strong>学历层次:</strong>
            <p>中技+大专(对口高职)</p>
          <strong>培养方向:</strong>
            <ol class="value">
              <li>临床护理</li>
              <li>预防保健</li>
              <li>护理管理</li>
              <li>护理教学</li>
            </ol>
          <strong>专业特色:</strong>
            <ol class="value">
                <li><strong>护理行业人才缺口巨大。</br></strong>
                  我国护理的比例是1:2，重要科室护士的比例应是1:4，而全国1:0.61的护理比例远远达不到卫生部的要求，与1:2.7的国际水平相差很大
                </li>
                <li><strong>护理行业薪资高。</br></strong>
                  护理行业待遇良好，前景看好，国内护理的薪资待遇福利不一样，但是整体的工资都在6000元/月以上。
                </li>
            </ol>
          <strong>就业方向:</strong>
            <p style="text-indent:1cm">本专业毕业生主要从事与医疗有关的全项临床操作，护理活动，药品生产，销售等工作</p>
          <strong>薪资待遇: 3500-7000元</strong></br>
          <strong>现招名额: 100人</strong>
          <h4>合作单位</h4>
          <div class="col-xs-6">
            <%= image_tag('sy/health.jpg', width: '100%') %>
          </div>
          <div class="col-xs-6">
            <%= image_tag('sy/heal1.jpg', width: '100%') %>
          </div>
        </div>
      </div>
      
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= image_tag('sy/tl.jpg', width: '100%') %>
          <h4 style="margin-left: 20%">城市轨道交通运输与管理
            <p>(高铁，地铁服务与管理方向)</p>
          </h4>
        </div>
        <div class="panel-body">
          <%= image_tag('sy/tlys.jpg', width: '100%') %>
          <strong>学历层次:</strong>
            <p>中技+大专(统招大专)</p>
          <strong>培养方向:</strong>
            <ol class="value">
              <li>高铁，地铁交通运营与管理</li>
              <li>高铁，地铁交通服务与管理</li>
            </ol>
          <strong>专业特色:</strong>
            <ol class="value">
              <li>目前该专业市场需求量大，就业前景无忧</li>
              <li>定制式培养模式为运输企业输送高技能人才，保证培养的人才与企业用人的无缝对接</li> 
              <li>工作稳定，环境优越，薪资待遇高</li>
            </ol>
          <strong>政审要求:</strong>
            <p style="text-indent: 0.5cm">未受到刑事处罚和劳动教养处罚，无其他严重违法行为，未参加非法组织，现实变现良好，品行端正。</p>
          <strong>录取程序</strong>
            <p style="text-indent: 0.5cm">笔试(合格)->面试(合格)->体检(合格)->政审(合格)->录取</p>

          <strong>就业方向:</strong>
            <p style="text-indent:0.5cm">本专业毕业生主要从事高铁乘务，城市交通客运岗位及其他运输类服务岗位工作。
              （全国动车组，高铁，普车，地铁乘务方向，全国各类车站票务安检方向)
            </p>
          <strong>薪资待遇: 3500-8000元</strong></br>
          <strong>现招名额: 100人</strong>
          <h4>合作单位</h4>
          <div class="col-xs-6">
            <%= image_tag('sy/ct.jpg', width: '100%') %>
          </div>
          <div class="col-xs-6">
            <%= image_tag('sy/ct3.jpg', width: '100%') %>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <%= image_tag('sy/tl.jpg', width: '100%') %>
          <h4 style="margin-left:23%">汽车运用与服务</h4>
        </div>
        <div class="panel-body">
          <%= image_tag('sy/qj.jpg', width: '100%') %>
          <strong>学历层次</strong>
            <p>中技+大专(对口高职)</p>
          <strong>培养方向</strong>
            <ol class="value">
              <li>汽车检测与维修</li>
              <li>整车销售与售后管理</li>
              <li>二手车评估</li>
              <li>汽车美容装饰</li>
            </ol>
          <strong>专业特色:</strong>
            <ol class="value">
              <li>学校首创全国汽车专业职业教育校企深度共建模式，以真实的4S店教学方式，定制培养打造汽车车间技术，
                保养，装修，销售，售后等高级汽车人才，毕业后就业与宝马，奔驰，保时捷，路虎，奥迪等知名汽车企业。
              </li>
              <li>学校引入“一站式“汽车智能化教学平台，全面实施情景化教学方案，让学生学习如打游戏一样，对汽车的拆卸与组装在教学
                平台上可以进行，对汽车的故障判断与维修，在电脑就能模拟。
              </li>
              <li>学生实作实训室，以宝马4S旗舰店标准打造，学生实作实训完全按宝马4S旗舰店标准进行训练</li>
            </ol>
          <strong>就业方向</strong>
            <ol class="value">
              <li>高端品牌汽车维修工程师</li>
              <li>汽车营销经理，售后服务工程师</li>
              <li>二手车鉴定与评估师</li>
              <li>汽车整形改装工程师</li>
            </ol>
          <strong>薪资待遇: 4000-10000元</strong></br>
          <strong>现招名额: 100人</strong>
          <h4 style="margin-left:1%">部分就业单位</h4>
          <div class="col-xs-6">
            <%= image_tag('sy/qx.jpg', width: '100%') %>
          </div>
          <div class="col-xs-6">
            <%= image_tag('sy/qx1.jpg', width: '100%') %>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <%= image_tag('sy/tl.jpg', width: '100%') %>
          <h4 style="margin-left:28%">学前教育</h4>
        </div>
        <div class="panel-body">
          <%= image_tag('sy/xq.jpg', width: '100%') %>
          <strong>学历层次</strong>
            <p>中技+大专(对口高职)</p>
          <strong>培养方向</strong>
            <ol class="value">
              <li>幼儿教育</li>
              <li>保教研究</li>
              <li>幼儿教育管理</li>
            </ol>
          <strong>专业特色介绍</strong>
          <div class="feature">
            <p style="text-indent: 0.5cm;color:red">中国幼师人才缺失高达400万，幼儿教育是21世纪的黄金产业</p>
            <ol type="value">
              <li>学校创新引进"<strong>奥尔夫教学模式</strong>"和"<strong>蒙台梭利教学模式</strong>"教学</li>
              <li>在校内设有奥尔夫模拟幼儿园，蒙台梭利模拟幼儿园，完全按幼儿教育<strong>岗位标准培养</strong></li>
              <li>创新推行"<strong>2:3:5</strong>"教育模式，理论与实践相结合，体验一比一还原真实幼儿园日常工作</li>
            </ol>
            <strong>就业方向</strong>
              <p style="text-indent:0.5cm">本专业毕业生主要在各级各类学前教育机构，如幼儿园，托儿所，亲子园等单位任幼儿教学工作，
                并能担任幼儿英语，舞蹈，美术，钢琴等技能的培训和指导，研究人员: 在学前教育研究机构及卫生保健部门等从事幼儿教育研究
              </p>
            <strong>薪资待遇: 3500-8000元</strong></br>
            <strong>现招名额: 100人</strong>
          </div>
          <h4 style="margin-left:3%">合作单位</h4>
          <div class="col-xs-6">
            <%= image_tag('sy/zn.jpg', width: '100%') %>
          </div>
          <div class="col-xs-6">
            <%= image_tag('sy/mt.jpg', width: '100%') %>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <%= image_tag('sy/tl.jpg', width: '100%') %>
          <h4 style="margin-left:28%">计算机网络技术</h4>
        </div>
        <div class="panel-body">
          <%= image_tag('sy/cp.jpg', width: '100%') %>
          <strong>学历层次</strong>
            <p>中技+大专(全日制)</p>
          <strong>培养方向</strong>
            <ol type="value">
              <li>网络运营与推广</li>
              <li>新媒体UI设计</li>
              <li>游戏动漫设计</li>
              <li>室内艺术设计</li>
            </ol>
          <strong>专业特色介绍</strong>
          <div class="computer">
            <ol type="value">
              <li>随着中国经济的高速发展，对计算机各领域人才需求一直是供应不求，特别是在<strong>商业环境艺术设计，
                商业广告设计，服装设计，工业产品设计，标志设计，企业CI设计，网页设计等行业有着大量人才需求。</strong></li>
              <li>学校与四川动漫研究中心等近20家企业<strong>签订制培养协议</strong>,为企业培养艺术设计与制作的高级专业人才</li>
              <li>该专业为<strong>白领行业</strong>，有着良好的工作环境，自由的工作空间，同时一名优秀设计师薪资水平很高</li>
            </ol>
            <strong>就业方向</strong>
              <p style="text-indent: 0.5cm">本专业毕业生，主要从事广告公司，影视后期公司，各类制造业，服务业等从事影视特效工作。
                影视公司，电视台，动画制作公司从事二维动画，三维动画制作等工作。电子竞技数据分析与智慧服务，电竞赛事策划与运营，电竞赛事分析解说等工作。
              </p>
            <strong>薪资待遇: 3500-8000元</strong></br>
            <strong>现招名额: 100人</strong>
          </div>
          <h4>合作单位</h4>
          <div class="col-xs-6">
            <%= image_tag('sy/cp1.jpg', width: '100%') %>
          </div>
          <div class="col-xs-6">
            <%= image_tag('sy/cp2.jpg', width: '100%') %>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <%= image_tag('sy/tl.jpg', width: '100%') %>
          <h4 style="margin-left:28%">中式烹饪专业</h4>
        </div>
        <div class="panel-body">
          <%= image_tag('sy/pr.jpg', width: '100%') %>
          <strong>学历层次</strong>
            <p>中技+大专(对口高职)</p>
          <strong>培养方向</strong>
            <ol class="value">
              <li>中式餐饮技术</li>
              <li>餐饮服务管理</li>
            </ol>
          <strong>专业特色介绍</strong>
          <div class="cookie">
            <ol type="value">
              <li>西式教学模式，VIP小班情景教学</li>
              <li>完善的教学设施设备，咖啡，调酒，茶艺实训中心，为提升学生综合素质保驾护航</li>
              <li>定制式培养模式，合作企业达30余家，学生入校即入企</li>
            </ol>
            <strong>就业方向</strong>
              <p style="text-indent: 0.5cm">校企定向合班(成都皇城老妈酒店管理有限公司，成都红杏酒家有限责任公司)</p>
            <strong>薪资待遇: 4000-12000元</strong></br>
            <strong>现招名额: 100人</strong>
          </div>
          
          <h4 style="margin-left:1%">合作单位</h4>
          <div class="col-xs-6">
            <%= image_tag('sy/ck.jpg', width: '100%') %>
          </div>
          <div class="col-xs-6">
            <%= image_tag('sy/ck2.jpg', width: '100%') %>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <%= image_tag('sy/tl.jpg', width: '100%') %>
          <h4 style="margin-left:10%">旅游服务与管理(航空服务方向)</h4>
        </div>
        <div class="panel-body">
          <%= image_tag('sy/airline.jpg', width: '100%') %>
          <strong>学历层次</strong>
            <p>中技+大专(统招大专)</p>
          <strong>培养方向</strong>
            <ol class="value">
              <li>空中乘务</li>
              <li>地勤服务</li>
            </ol>
          <strong>专业特色介绍</strong>
          <div class="air">
            <ol type="value">
              <li>6大国企定制培养，就业签约保障</li>
              <li>岗位缺口大，就业方向广阔：可在空中乘务，安检，导乘，中转，要客服务等方向就业</li>
              <li>薪资福利待遇优厚：航空服务与管理专业毕业生从事国内外主流航空公司乘务员月薪8000-10000元，
                成熟乘务员月薪12000-25000元，地面服务人员4000-8000元。
              </li>
            </ol>
            <strong>政审要求</strong>
              <p style="text-indent: 0.5cm">未受到刑事处罚和劳动教养处罚，无其他严重违法行为，未参加非法组织，现实变现良好，品行端正。</p>
            <strong>录取程序:</strong>
              <p style="text-indent: 0.5cm">笔试(合格)->面试(合格)->体检(合格)->政审(合格)->录取</p>
            <strong>就业方向</strong>
              <p style="text-indent: 0.5cm">本专业毕业生主要就业于国际国内航空公司和机场等民航单位，从事民航空中乘务，机场和民航运输相关企事业单位，票务，值机，VIP接待
                客要部接待，民航客运等相关工作。
              </p>
            <strong>薪资待遇: 4000-10000元</strong></br>
            <strong>现招名额: 100人</strong>
          </div>
          <h4 style="margin-left:1%">合作单位</h4>
          <div class="col-xs-6">
            <%= image_tag('sy/air.jpg', width: '100%') %>
          </div>
          <div class="col-xs-6">
            <%= image_tag('sy/air2.jpg', width: '100%') %>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <%= image_tag('sy/tl.jpg', width: '100%') %>
        </div>
        <div class="panel-body">
          <%= image_tag('sy/certi.jpg', width: '100%') %>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <%= image_tag('sy/tl.jpg', width: '100%') %>
        </div>
        <div class="panel-body">
          <%= image_tag('sy/jy.jpg', width: '100%') %>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <%= image_tag('sy/tl.jpg', width: '100%') %>
        </div>
        <div class="panel-body">
          <%= image_tag('sy/rxtj.jpg', width: '100%') %>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <%= image_tag('sy/tl.jpg', width: '100%') %>
        </div>
        <div class="panel-body">
          <%= image_tag('sy/lc.jpg', width: '100%') %>
        </div>
      </div>
    </div>
  </div>
</div>