<%= content_for :title, '四川省青神中等职业学校' %>
<div class="green-god" style="margin-top:15%">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>青神中等职业学校</h3>
    </div>
    <div class="body">
      <%= image_tag('qs/qs1.jpeg', width: '100%') %>
      <div class="introduction">
        <p>
          <strong>四川青神中等职业学校</strong>是经四川省教育厅批准设立的一所全日制公办中等职业学校，
          创办于1976年，迄今已有40年的办学历史。拥有全国首批百个民族文化传承与创新示范专业点，四川省首批
          现代学徒制试点单位，眉山市重点中等职业学校等多项殊荣。
        </p>
        <%= image_tag('qs/qs2.png', width: '100%') %>
        <p>
          学校位于“国际竹编之都”的青神县城，北接成都天府新区，南邻乐山，西望峨眉，是第一代蜀王蚕丛氏故里，
          地理位置优越，学校占地面积5万平方米，建筑面积2万平方米，现有专兼文化课，专业课教师70余人，其中
          双师型教师29人，学生教育教学，生活管理师资雄厚。
        </p>
        <strong>学生风采</strong>
        <%= image_tag('qs/xsfc.png', width: '100%') %>
        <%= image_tag('qs/xsfc1.jpg', width: '100%') %>
      </div>
      <div class="special">
        <div class="bn"><h4 style="background-color:green">特色定向专业介绍</h3></div>
        <div class="panel panel-success">
          <div class="panel-heading">
            <h4>铁道车辆运用与检修校企合作定向班</h4>
          </div>
          <div class="panel-body">
            <%= image_tag('qs/td.png', width: '100%') %>
            <strong>专业介绍</strong>
              <p>
                铁路运输在交通运输体系中具有骨干地位，对国民经济的发展起强有力的支撑作用，随着我国铁路行业机车，车辆，线路
                等各方面的技术领先世界，国营铁路，地方铁路，城市铁路，地下铁道，城市轨道交通，铁路工程等部门从事铁路机务运用
                管理及车辆设计，制造，检测，调度，驾驶员等高级技术人员也身价倍增。
              </p>
            <strong>层次: 专科+高技(可升本)</strong></br>
            <strong>培养方向: 铁道车辆运用，管理，检测，调度，轨道司机等</strong></br>
            <strong>认证机构: 中华人民共和国人力资源和社会保障</strong></br>
            <strong>工资待遇: 转正后4000-20000元/月</strong></br>
            <strong>招生条件:</strong>
              <ol type="value">
                <li>初中毕业生，具有同等学历者</li>
                <li>限男性</li>
                <li>男身高>=165cm</li>
                <li>身体健康，无重大病史，无传染病，直系亲属无精神病史</li>
                <li>嗅觉正常，双眼矫正视力（E型）表上不低于4.8，无色盲，色弱</li>
                <li>无纹身等身形特征</li>
              </ol>
            <strong>政审要求:</strong>
              <p style="text-indent:0.5cm">
                未受到刑事处罚和劳动教养处罚，无其他严重违法行为，为参加非法组织，现实表现良好，品行端正。
              </p>
            <strong>录取程序:</strong>
              <p>初试(合格)->复试(合格)->体检(合格)->政审(合格)->录取</p>
            <strong>限招名额: 100人</strong>
          </div>
        </div>

        <div class="tour">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h4>旅游服务与管理(高铁乘务方向校企合作定向班)</h4>
            </div>
            <div class="panel-body">
              <%= image_tag('qs/ly.png', width: '100%') %>
              <strong>专业介绍</strong>
                <p>
                  铁路是国民经济的大动脉，中国列车还在提速，时速380公里新一代动车组又将下线，时速500公里的试验高速动车组正在研发，
                  目前，中国是世界上高速铁路系统技术最全，集成能力最科学，运营里程最长，运行速度最高，在建规模最大的国家，举世瞩目
                  的中国高铁正处于跨越式发展时期，以致高贵，典雅的列车乘务人员，客运人员尤为紧俏。
                </p>
              <strong>层次: 专科+高技(可升本)</strong></br>
              <strong>培养方向: 售票，检票，站务，贵宾服务，铁路</strong></br>
              <strong>工资待遇: 转正后3000-5000元/月</strong></br>
              <strong style="color:red">就业去向:</strong>
                <p style="text-indent:0.5cm">成都铁路局，北京铁路局，郑州铁路局，南昌铁路局，西安铁路局以及至2019年与我校新签约的铁路局</p>
              <strong>招生条件:</strong>
                <ol type="value">
                  <li>初中毕业生，具有同等学历者;</li>
                  <li>高铁，动车乘务，高级乘务员限女性，列车员及铁路客运，男女不限;</li>
                  <li>五官端正，形体匀称，形象气质佳;</li>
                  <li>高铁，动车乘务，高级乘务员列车员: 女身高163cm至172cm,男性身高173cm至185cm;
                    铁路交通运营管理人才身高: 女身高160cm至173cm,男身高170cm至180cm;
                  </li>
                  <li>体重(kg)=[身高(cm)-110]+[身高(cm)-110]*10%</li>
                  <li>无“X”形腿,无四环素牙，纹身等形体特征</li>
                  <li>身体健康，无重大病史，无传染病，直系亲属无精神病史</li>
                  <li>嗅觉正常，双眼矫正视力（E型）表上不低于4.8，无色盲，色弱</li>
                </ol>
              <strong>政审要求:</strong>
                <p style="text-indent:0.5cm">
                  未受到刑事处罚和劳动教养处罚，无其他严重违法行为，为参加非法组织，现实表现良好，品行端正。
                </p>
              <strong>录取程序:</strong>
                <p>初试(合格)->复试(合格)->体检(合格)->政审(合格)->录取</p>
              <strong>限招名额: 乘务，乘服，列车员: 100人, 铁路客运人员:200人</strong>
            </div>
          </div>

          <div class="panel panel-success">
            <div class="panel-heading">
              <h4>旅游服务与管理(航空服务方向校企合作定向班)</h4>
            </div>
            <div class="panel-body">
              <%= image_tag('qs/hk.png', width: '100%') %>
              <strong>专业介绍</strong>
                <p>
                  中国民航业发展迅猛，已成为仅次于美国的第二民航大国，据数字显示，中国内地航空公司的客运量以15%左右的平均
                  速度增长，随着国际国内市场经济的发展节奏加速，空中客机已成为国内外企事业领军人物首选的长途交通工具，与此同时，
                  美丽，尊贵的空中乘务和航空地勤已成为睿智青年梦寐以求的职业
                </p>
              <strong>层次: 专科+高技(可升本)</strong></br>
              <strong>培养方向: <p style="text-indent:0.5cm">空中乘务员及空中安全员，安检，值机，督查，VIP，商旅等</p></strong></br>
              <strong>认证机构: 国际航空运输协会(IATA)中国民航总局，中国航空运输协会(CATA)</strong>
              <strong>工资待遇: 转正后4000-12000元/月</strong></br>
              <strong style="color:red">就业去向:</strong>
                <p style="text-indent:0.5cm">国内各大航空公司: 瑞丽航空，西藏航空，祥鹏航空，成都双流国际机场，
                  广州白云机场，湖北机场集团及至2019年与我校新签订约的机场及航空公司。
                </p>
              <strong>招生条件:</strong>
                <ol type="value">
                  <li>初中毕业生，具有同等学历者;</li>
                  <li>五官端正，形体匀称，形象气质佳;</li>
                  <li>身高: 女160cm至173cm;男170cm至184cm</li>
                  <li>体重(kg)=[身高(cm)-110]+[身高(cm)-110]*10%</li>
                  <li>无“X”形腿,"O"形腿，无四环素牙，纹身等形体特征</li>
                  <li>身体健康，无重大病史，无传染病，直系亲属无精神病史</li>
                  <li>嗅觉正常，双眼矫正视力（E型）表上不低于4.8，无色盲，色弱</li>
                  <li>身体裸露部分无疤痕，无腋臭</li>
                </ol>
              <strong>政审要求:</strong>
                <p style="text-indent:0.5cm">
                  未受到刑事处罚和劳动教养处罚，无其他严重违法行为，为参加非法组织，现实表现良好，品行端正。
                </p>
              <strong>录取程序:</strong>
                <p>初试(合格)->复试(合格)->体检(合格)->政审(合格)->录取</p>
              <strong>限招名额: 100人</strong>
            </div>
          </div>

          <div class="panel panel-success">
            <div class="panel-heading">
              <h4>中餐烹饪校企合作定制班</h4>
            </div>
            <div class="panel-body">
              <%= image_tag('qs/pr.png', width: '100%') %>
              <strong>专业介绍</strong>
                <p>
                  据我国饮食文化网统计的资料显示，中国烹饪行业当前急需大批高素质，高技能的厨师来充实，每年紧缺人才1000万，
                  这一数字预测着厨师职业将作为永远的朝阳产业，是二十一世纪就业的最热门职业之一。学烹饪不是你去找工作，而是工作来找你。
                </p>
              <strong>层次: 大专+高技(可升本)</strong></br>
              <strong>培养方向: <p style="text-indent:0.5cm">培养掌握现代烹饪，营养，餐饮管理的基本知识，具有较强烹饪技术
              能从事烹饪操作，营养分析与营养配餐，以及餐饮业管理的高级技术应用性专门人才</p>
              </strong></br>
              <strong>工资待遇: 转正后4000-12000元/月</strong></br>
              <strong style="color:red">就业去向:</strong>
                <p style="text-indent:0.5cm">校企定向合作班(成都皇城老妈酒店管理有限公司)
                </p>
              <strong>招生条件:</strong>
                <ol type="value">
                  <li>初中毕业生，具有同等学历者;</li>
                  <li>男女不限</li></li>
                  <li>无“X”形腿,"O"形腿，无四环素牙，纹身等形体特征</li>
                  <li>身体健康，无重大病史，无传染病，无精神病史</li>
                  <li>嗅觉正常，双眼矫正视力（E型）表上不低于4.8，无色盲，色弱</li>
                </ol>
              <strong>政审要求:</strong>
                <p style="text-indent:0.5cm">
                  未受到刑事处罚和劳动教养处罚，无其他严重违法行为，为参加非法组织，现实表现良好，品行端正。
                </p>
              <strong>录取程序:</strong>
                <p>初试(合格)->复试(合格)->体检(合格)->政审(合格)->录取</p>
              <strong>限招名额: 100人</strong>
            </div>
          </div>

          <div class="panel panel-success">
            <div class="panel-heading">
              <h4>学前教育校定向班(联办)</h4>
            </div>
            <div class="panel-body">
              <%= image_tag('qs/xq.png', width: '100%') %>
              <strong>专业介绍</strong>
                <p>
                  学前教育是基础的重要组成部分，是学校教育和终身教育的奠基阶段，是我国人才强国战略工程的重要组成部分和起始阶段。
                  《国务院关于当前发展学前教育的若干意见》<国发【2014】41号>明确指出：各级政府要充分认识发展学前教育的重要性和紧迫性，
                  将大力发展学前教育作为贯彻落实教育规划纲要的突破口，作为推动教育事业发展的重要任务，作为建设社会主义和谐社会的重要民生工程，
                  纳入政府工作重要议事日程，在大学生就业市场风云变幻的今天，高素质学前教育专业的毕业生却拥有巨大的就业市场和人生舞台，其就业前景
                  骤然跃居全国前十位的金牌榜。
                </p>
              <strong>层次: 大专+高技(可升本)</strong></br>
              <strong>培养方向: 大中城市学前教育教师和管理人员</strong></br>
              <strong>认证机构: 中华人民共和国教育部</strong></br>
              <strong>工资待遇: 转正后3000-6000元/月</strong></br>
              <strong style="color:red">就业去向:</strong></br>
                <p style="text-indent:0.5cm">国际国内大中城市学前教育机构</p
              <strong>招生条件:</strong>
                <ol type="value">
                  <li>应，往届初中毕业生，具有同等学历者</li>
                  <li>遵纪守法，热爱劳动，文明礼貌，朴实诚信</li></li>
                  <li>面部，颈部，手部无明显疤痕，无纹身</li>
                  <li>无顽疾，无传染病，无慢性病，无精神病史，无犯罪史，无严重违纪史</li>
                  <li>五官端正，形象气质佳</li>
                  <li>男身高不低于168cm,女生身高不低于158cm,年龄在15至18周岁</li>
                  <li>具备一定的音乐，舞蹈，美术基础</li>
                </ol>
              <strong>政审要求:</strong>
                <p style="text-indent:0.5cm">
                  未受到刑事处罚和劳动教养处罚，无其他严重违法行为，为参加非法组织，现实表现良好，品行端正。
                </p>
              <strong>录取程序:</strong>
                <p>初试(合格)->复试(合格)->体检(合格)->政审(合格)->录取</p>
              <strong>限招名额: 120人</strong>
            </div>
          </div>

          <div class="panel panel-success">
            <div class="panel-heading">
              <h4>学前教育校定向班(联办)</h4>
            </div>
            <div class="panel-body">
              <%= image_tag('qs/xq.png', width: '100%') %>
              <strong>专业介绍</strong>
                <p>
                  学前教育是基础的重要组成部分，是学校教育和终身教育的奠基阶段，是我国人才强国战略工程的重要组成部分和起始阶段。
                  《国务院关于当前发展学前教育的若干意见》<国发【2014】41号>明确指出：各级政府要充分认识发展学前教育的重要性和紧迫性，
                  将大力发展学前教育作为贯彻落实教育规划纲要的突破口，作为推动教育事业发展的重要任务，作为建设社会主义和谐社会的重要民生工程，
                  纳入政府工作重要议事日程，在大学生就业市场风云变幻的今天，高素质学前教育专业的毕业生却拥有巨大的就业市场和人生舞台，其就业前景
                  骤然跃居全国前十位的金牌榜。
                </p>
              <strong>层次: 大专+高技(可升本)</strong></br>
              <strong>培养方向: 大中城市学前教育教师和管理人员</strong></br>
              <strong>认证机构: 中华人民共和国教育部</strong></br>
              <strong>证书样本</strong>
                <%= image_tag('qs/zs.png', width: '100%') %>
              <strong>工资待遇: 转正后3000-6000元/月</strong></br>
              <strong style="color:red">就业去向:</strong></br>
                <p style="text-indent:0.5cm">国际国内大中城市学前教育机构</p
              <strong>招生条件:</strong>
                <ol type="value">
                  <li>应，往届初中毕业生，具有同等学历者</li>
                  <li>遵纪守法，热爱劳动，文明礼貌，朴实诚信</li></li>
                  <li>面部，颈部，手部无明显疤痕，无纹身</li>
                  <li>无顽疾，无传染病，无慢性病，无精神病史，无犯罪史，无严重违纪史</li>
                  <li>五官端正，形象气质佳</li>
                  <li>男身高不低于168cm,女生身高不低于158cm,年龄在15至18周岁</li>
                  <li>具备一定的音乐，舞蹈，美术基础</li>
                </ol>
              <strong>政审要求:</strong>
                <p style="text-indent:0.5cm">
                  未受到刑事处罚和劳动教养处罚，无其他严重违法行为，为参加非法组织，现实表现良好，品行端正。
                </p>
              <strong>录取程序:</strong>
                <p>初试(合格)->复试(合格)->体检(合格)->政审(合格)->录取</p>
              <strong>限招名额: 120人</strong>
            </div>
          </div>


          <div class="panel panel-success">
            <div class="panel-heading">
              <h4>汽车运用与维修定向班(联办)</h4>
            </div>
            <div class="panel-body">
              <%= image_tag('qs/wx.png', width: '100%') %>
              <strong>专业介绍</strong>
                <p>
                  随着汽车销量的不断增长，汽车制造，装配，检测，维修，装饰与美容，保养，销售等符合型人才极度缺乏，
                  千亿大单投向天府新区成都国际汽车城，成都正迅速崛起成为中国乃至世界新的汽车产业高地，成都将改变中国汽车产业的格局。
                </p>
              <strong>层次: 大专+高技(可升本)</strong></br>
              <strong>培养方向: 汽车装配，检测，维修，装饰与美容，保养销售</strong></br>
              <strong>工资待遇: 毕业生综合收入3000-10000元/月</strong></br>
              <strong style="color:red">就业去向:</strong></br>
                <p style="text-indent:0.5cm">全国各大汽车制造厂家，知名4S店</p
              <strong>招生条件:</strong>
                <ol type="value">
                  <li>应，往届初中毕业生，具有同等学历者</li>
                  <li>男女不限，15至18周岁</li>
                  <li>五官端正，形象气质佳，性格开朗</li>
                  <li>体重(kg)=[身高(cm)-110]+[身高(cm)-110]*10%</li>
                  <li>身体健康，无传染病，无精神病史，身体裸露部分无疤痕，无腋臭</li>
                  <li>双眼矫正视力（E型）表上不低于4.8，无色盲，色弱</li>
                  <li>无“X”形腿,"O"形腿，无四环素牙，纹身等形体特征</li>
                </ol>
              <strong>政审要求:</strong>
                <p style="text-indent:0.5cm">
                  未受到刑事处罚和劳动教养处罚，无其他严重违法行为，为参加非法组织，现实表现良好，品行端正。
                </p>
              <strong>录取程序:</strong>
                <p>初试(合格)->复试(合格)->体检(合格)->政审(合格)->录取</p>
              <strong>限招名额: 120人</strong>
            </div>
          </div>
        </div

        <div class="important">
          <h4 style="background:red">重点专业介绍</h4>
          <div class="panel panel-danger">
            <div class="panel-heading">
              <h4>机械加工技术专业</h4>
            </div>
            <div class="panel-body">
              <%= image_tag('qs/jx.png', width: '100%') %>
              <strong>专业介绍</strong>
                <p>本专业立足为现代大型化机械企业培养数控机械操作，机器人操作等新型产业技术操作人员，市级重点专业，
                  主要开设机械制图，金属工艺，极限配合与技术测量，电工与电子技术，金属工艺学，数控机床加工技术，机器人
                  操作，机械加工技术等课程，学生就业方向为机器人操作人员，机械设备操作人员，机械加工工艺编制技术人员，机电设备
                  的维护与管理，技术管理及生产管理人员等。
                </p>
                <strong>层次: 大专+高技(可升本)</strong></br>
                <strong>培养方向: 机械制造，装配，检测，检验</strong></br>
                <strong>工资待遇: 转正后3000-8000元/月</strong></br>
                <strong style="color:red">就业去向:</strong></br>
                  <p style="text-indent:0.5cm">上海沪动中华造船集团有限公司，中国五冶集团上海有限公司，
                    浙江今飞机械(集团)有限公司，以及至2019年与我校新签约的机电类集团公司。
                  </p>
                <strong>录取程序:</strong>
                  <p>初试(合格)->复试(合格)->体检(合格)->政审(合格)->录取</p>
                <strong>限招名额: 100人</strong>
            </div>
          </div>

          <div class="panel panel-danger">
            <div class="panel-heading">
              <h4>电子技术应用专业</h4>
            </div>
            <div class="panel-body">
              <%= image_tag('qs/dz.png', width: '100%') %>
              <strong>专业介绍</strong>
                <p>
                  本专业面向市场培养实用型电子设备，家电产品生产与维修技术工，市场人才需要量大，主要开设电工基础，电子线路，
                  机械基础，传感技术及应用，电子产品结构工艺，电子整机原理，电子测量仪，单片机原理与应用等课程，就业方向为电子产品
                  的生产企业和经营单位，从事信息电子设备，电子产品的生产，装配，调试，维护和检验等技术工作，通讯网络的安装，管理，使用与维护工作，
                  以及电子产品，电子元器件的采购，销售和维修等工作，从事电子电路设计，电子产品开发，生产，管理，电子产品安装，检测和维护工作。
                </p>
                <strong>层次: 大专+高技(可升本)</strong></br>
                <strong>培养方向: 培养从事安装，调试和维护无限通信，传输设备，广播视听等</strong></br>
                <strong>工资待遇: 转正后3000-8000元/月</strong></br>
                <strong style="color:red">就业去向:</strong></br>
                  <p style="text-indent:0.5cm">韩国三星电子有限公司，苏州三星电子液晶显示器有限公司，
                    以及至2019年与我校新签约的电子类集团公司。
                  </p>
                <strong>录取程序:</strong>
                  <p>初试(合格)->复试(合格)->体检(合格)->政审(合格)->录取</p>
                <strong>限招名额: 100人</strong>
            </div>
          </div>
        </div>

        <div class="aid">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h4>助学工程体系</h4>
            </div>
            <div class="panel-body">
              <ol type="value">
                <li>中职学生免费</li>
                  <p style="text-indent:0.5cm" >凡具有我校学籍且正常在校学生，可享受国家三年的学费减免
                    此减免已在学生各年收费中直接扣减
                  </p>
                <li>中职学生国家助学金</li>
                  <p style="text-indent:0.5cm" >具有中职学籍的一，二年级全日制在校学生，户籍在六盘山区等十一个连片地区及四川两州一县的学生
                    可直接享受国家两年共4000元的生活补助，其他学生按20%比例在校表现优秀且家庭经济困难的学生可享受国家两年共计4000元的生活补助
                  </p>
                <li>学校奖学金</li>
                  <p style="text-indent:0.5cm">对品学兼优者，将获得学校颁发的特等奖(8000元/年·人)，一等奖(5000元/年·人)，二等奖(3000元/年·人),
                    三等奖(1000元/年·人)
                  </p>
                <li>其他</li>
                  <p style="text-indent:0.5cm">来自各级政府对职业学校学生的资助，奖励和补贴，以及来自企业或公益机构的赞助，学校将及时全额分发给学生</p>
                <li style="font-size:2rem">注:</li>
                  <p style="color:red">报读我校的新生需要提前办理好本人身份证，在入班时上交身份证复印件</br>
                    就读我校期间，如国家有新的资助政策，按新的资助政策实施</p>
              </ol>
            </div>
          </div>

          <div class="panel panel-success">
            <div class="panel-heading">
              <h4>就业保障措施及承诺</h4>
            </div>
            <div class="panel-body">
              <strong>机制保障:</strong>
                <p style="text-indent:0.5cm">学校建立了由校长挂帅的就业安置体系，有专门的就业办公室，长三角办事处，上海联络办公室，
                  北京联络办公室，广东联络办公室，福建联络办公室开发就业市场，在全国范围内建立健全了就业安置网络，让学生有充分的就业选择空间，
                  实现优质岗。
                </p>
              <strong>法律保障:</strong>
                <p style="text-indent:0.5cm">学生报到注册时，学生，学生家长(或代表)与学校或企业签订有法律保障的就业安置合同</p>
              <strong>订单保障:</strong>
                <p style="text-indent:0.5cm">学校就业办公室，长三角办事处等与一大批行业领域巨头，世界500强知名企业签订了定向培养协议，
                  根据企业的人才需求，学生入学后按照企业的订单要求进行培养，做到就业方向明确.
                </p>
              <strong>培养过程保障:</strong>
                <p style="text-indent:0.5cm">在整个教育教学环节中，从专业课程设置，实践教学安排，学生的职业生涯设计等，全方位扎扎实实打好学生高薪就业的基础</p>
              <strong>安置过程保障:</strong>
                <p style="text-indent:0.5cm">严格遵照执行国家“三结合”就业政策，坚持“学校有责推荐，用人单位面试，学生自愿选择IV的原则，严格执行我校“就业服务保障“体系，
                  实施优生先推，技能技术达标的前提下可跨专业择业的优惠政策。
                </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>