<% @products.each do |product| %>
  <div class="product">
    <%= link_to product_path(product) do %>
      <%= image_tag(product.image.url, size: "100x100") %>
      <p>
        <%= product.name %>
        <%= product.price %>
        <%= product.category.name %>
        <%= Product.human_state_name(product.state_name) %>
      </p>
      # <p>
      #   <%= link_to "添加到购物车", add_to_cart_product_path(product), method: :post %>
      # </p>
    <% end %>
  </div>
<% end %>
  
 <%#= link_to "Edit", edit_product_path(product) %>
 <%#= link_to "Destroy", product_path(product), method: :delete, remote: true %></td>