<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel">
        <h1 class="title">
          New Product
        </h1>
      </div>
      <div class="panel-body">
        <%= form_for @product, remote: true do |f| %>
          <div class="form-group">
            <%= f.label :Name %>
            <%= f.text_field :name %>
          </div>
          <div class="form-group">
            <%= f.label :Price %>
            <%= f.text_field :price %>
          </div>
        
          <div class="form-group">
            <%= f.label :category_name %>
            <%= f.text_field :category_name, data: {autocomplete_source: Category.order(:name).map(&:name)} %>
          </div>
          <%= f.radio_button(:gender, "male") %>
          <%= label_tag(:gender_male,   "Male") %>
          <%= f.radio_button(:gender, "female") %>
          <%= label_tag(:gender_female, "Female") %>
        
          <%= f.submit 'Edit Product' %>
        <% end %>
      </div>
    </div>
  </div>
</div>