<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? content_for(:title) : '圣亚技工学校' %></title>
  <meta name="description" content="圣亚技工学校" />
  <meta name="keywords" content="圣亚技工学校" />
  <meta name="baidu-site-verification" content="XrrfdSQpLT" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top bd-navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">首页</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "专业导航", hot_path %></li>
        <li><%= link_to "关于我们", about_path %></li>
      </ul>
    </div>
  </div>
</nav>
<audio id="my_audio" src="/audio/my_audio_file.mp3" loop="loop" muted></audio>
<%= yield %>
</body>
<a href="#top" id="back-to-top" title="Back to top">
  <i class="fa fa-arrow-circle-o-up"></i>
</a>
</html>