<!DOCTYPE html>
<html>
<head>
  <title>Demo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-fixed-top bd-navbar">
  <div class="container">
    <a class="navbar-brand" href="/">Navbar</a>
    <ul class="nav navbar-nav navbar-right">
      <% if login? %>
        <li><%= link_to "Logout", "/logout", method: :delete %></li>
        <li>
          <%= link_to cart_path(current_cart) do %>
            购物车<i class="fa fa-shopping-cart"></i>(<%= current_cart.cart_items.count %>)
          <% end %>
        </li>
      <% else %>
        <li><%= link_to "Signup", signup_path %></li>
        <li><%= link_to "Login", login_path %></li>
      <% end %>
    </ul>
  </div>
</nav>
<%= yield %>
</body>
</html>
